{% load static %}
<!DOCTYPE html>
<html lang="en">
<style>
.flex-container {
  display: flex;
  flex-wrap: nowrap;
  margin-left: 100px;
}
.color{
  color:beige;
}
.button {
  background-color:rgb(240, 240, 249); /* Green */
  border: none;
  color: white;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
</style>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="flex-container"><img src="{% static 'images/data.jpg' %}"><p class="color">____________________________________________________________________________</p>
      <p>Home
        Products & Services
        About us
        Contact us
        Career
        <button class="button"><a href="home/">login</a></button></p></div>
    
    <img src="{% static 'images/chess.jpg' %}" height="1100" width="1500">

</body>
</html>